{% extends 'base.html.twig' %}

{% block body %}

    <h1>Title: {{ book.title }}</h1>

    <h2>Author: {{ book.author }}</h2>

    <h3>{{ (book.status)? "Availabel" : "Unavailable" }}</h3>
{% endblock %}

{% block stylesheets %}
{% endblock %}
